[Interface]
PrivateKey = ${wg_droplet_priv}
ListenPort = 51820
Address = ${wg_droplet_ip}

[Peer]
PublicKey = ${wg_peer_pub}
AllowedIPs = ${wg_subnet}
%{ if wg_peer_endpoint != null }
Endpoint = ${wg_peer_endpoint}
PersistentKeepalive = 25
%{ endif }
